:root{
    --main-txt-color: #323031;
    --main-bg-color: #f9f9f9;
    --darker-bg-color: #7F7979;
    --lighter-txt-color: #3D3B3C;
    --middle-gray: #5F5B6B;
    --white-txt-color: #f9f9f9;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}
header{
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}
#hero{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(images/hero2.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(16px);
    animation: unblur 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes unblur{
    from {filter: blur(16px)}
    to {filter: blur(0px)}
}
#header-div{
    position: absolute;
    text-align: center;
    color: var(--white-txt-color);
    top: 3%;
    left: 1%;
    font-size: 2vw;
}
#header-label{
    overflow: hidden;
    border-right: .15em solid var(--white-txt-color);
    white-space: nowrap;
    margin: 0 auto;
    opacity: 0;
    animation: 
        typing 1.5s steps(20, end),
        blink-caret .75s step-end infinite;
    animation-delay: 1s;
    -webkit-animation: 
        typing 1.5s steps(20, end),
        blink-caret .75s step-end infinite;
    -webkit-animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes typing {
    from { width: 0;  }
    to { width: 100%;  opacity: 1}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent;}
    50% { border-color:var(--white-txt-color); }
}
#selectors{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    top: 3%;
    right: 1%;
    
}

.horizontal-divider{
    width: 100%;
}
#select-items{
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}
a.selector:link{
    text-decoration: none;
}
a.selector:visited{
    text-decoration: none;
}

.selector{
    display: inline;
    text-align: center;
    margin-top: 2vh;
    padding-left:.75vw;
    padding-right: .75vw;
    flex-shrink: 1;
    flex-grow: 1;
    color: var(--white-txt-color);
    font-size: 2vw;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    opacity: 0;
    /*transform: translate(-50%, -50%);*/
    animation: 
        fade 1.5s;
    
    animation-fill-mode: forwards;
    -webkit-animation: 
        fade 1.5s;
    
    -webkit-animation-fill-mode: forwards;
}
@keyframes fade{
    from {opacity: 0}
    to {opacity: 1}
}
#mission{
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
#milestones{
    animation-delay: 3.2s;
    -webkit-animation-delay: 3.2s;
}
#gallery{
    animation-delay: 3.4s;
    -webkit-animation-delay: 3.4s;
}
#contact{
    animation-delay: 3.6s;
    -webkit-animation-delay: 3.6s;
}
#login{
    animation-delay: 3.8s;
    -webkit-animation-delay: 3 .8s;
}
.selector:hover{
    color: var(--lighter-txt-color);
} 
#downarrow-container{
    position: absolute;
    height: 10vh;
    bottom: 5%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: grow 1s;
    animation-delay: 4.6s;
    animation-fill-mode: initial;
    transition-duration: 1s;
}
#downarrow{
    position: relative;
    height: 100%;
    filter: invert(.99);
    -webkit-filter: invert(.99);
}
@keyframes grow{
    from, to {height: 10vh; opacity: .35}
    50% {height: 12vh; opacity: .5}
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    left:0;
    right:0;
    display: block;
    color: var(--lighter-txt-color);
    background-color: var(--main-bg-color);
}
a.intrasection{
    text-decoration: none;
    font-weight: bolder;
    color: var(--darker-bg-color);
}
.section{
    position: relative;
    margin-left:10vw;
    margin-right:10vw;
    width: 80vw;
}
/*interactive functions*/
#functions-interactive{
    height: 85vh;
    position: relative;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0;
    background-color: var(--middle-gray);
    background-image: url(images/functions/_rgba.png);
    background-position: left;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#color-key{
    position: absolute;
    right: 0%;
    bottom: 0%;
    height:100%;
    width: 100%;
    background-color:transparent;
    background-position: right;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition-duration: 0s;
    opacity: 0;
    z-index: 98;
    
}
#vine-health{
    left: 50%;
    top: 20%;
    background-image: url(images/functions/vine.jpg);
}
#vine-health-caption{
    left: 72%;
    top: 10%;
}
#vine-health:hover + #vine-health-caption{
    opacity: 1;
    display: block;
}
#vine-health:hover ~ #functional-overlay{
    background-image: url(images/functions/_ndvi_color.png);
    opacity: .8;
}
#vine-health:hover ~ #color-key{
    background-image: url(images/functions/_ndvi_scale.png);
    opacity: 1;
}

#water-content{
    left: 25%;
    top: 35%;
    background-image: url(images/functions/chlorophyll.jpeg)
}
#water-content-caption{
    left: 25%;
    top: 45%;
}
#water-content:hover + #water-content-caption{
    opacity: 1;
    display: block;
}
#water-content:hover ~ #functional-overlay{
    background-image: url(images/functions/_ndre_color.png);
    opacity: .8;
}
#water-content:hover ~ #color-key{
    background-image: url(images/functions/_ndre_scale.png);
    opacity: 1;
}

#temperature{
    left: 60%;
    top: 60%;
    background-image: url(images/functions/heat.jpeg)
}
#temperature-caption{
    left: 37%;
    top: 55%;
}
#temperature:hover + #temperature-caption{
    opacity: 1;
    display: block; 
}
#temperature:hover ~ #functional-overlay{
    background-image: url(images/functions/_thermal_color.png);
    opacity: .8;
}
#temperature:hover ~ #color-key{
    background-image: url(images/functions/_thermal_scale.png);
    opacity: 1;
}

#geopin{
    left: 35%;
    top: 60%;
    background-color: transparent;
    border-color: transparent;
    background-image: url(images/functions/pin.png);
    
}
#geopin-caption{
    left: 35%;
    top: 70%;
}
#geopin:hover + #geopin-caption{
    opacity: 1;
    display: block; 
}

#functional-overlay{
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition-duration: 1s;
    z-index:98;
    opacity: 0;
}
.function-node{
    position: absolute;
    height: 5em;
    width: 5em;
    border: solid var(--main-txt-color);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-bg-color);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 99;
    transition-duration: 1s;
   
}
.caption{
    display: none;
    position: absolute;
    transform: translateX(-50%);
    z-index: 100;
    width: 30%;
    height: auto;
    border: solid var(--main-txt-color);
    border-radius: 2vh;
    background-color: var(--main-bg-color);
    opacity: 0;
    transition-duration: 1s;

}
.caption-interior-header{
    padding-bottom: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}
.caption-interior{
    padding-top: 0;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}
/*end interactive functions*/
/*begin interactive journey*/
#journey-interactive{
    height: 85vh;
    position: relative;
    width: 100%;
    padding: 2vh 0 0 0;
    margin: 0;
    background-color: var(--middle-gray);
    background-image: url(images/milestones/formation.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transition-delay: .75s;
    transition: .5s;
}
@keyframes fadeNode{
    from {opacity: 0}
    to {opacity: 1}
}
.milestone-node{
    position: absolute;
    height: 2.5vh;
    width: 2.5vh;
    transform: translate(-50%, 0%);
    border: solid var(--main-txt-color);
    border-radius: 50%;
    background-color: var(--main-bg-color);
    transition-duration: 1s;
    z-index: 100;
    animation: fadeNode 1s;
    opacity: 0;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
#milestone0{
    animation-delay: 0s;
}
.milestone-date{
    position: absolute;
    height: auto;
    width: 8em;
    bottom: 0%;
    text-align: center;
    transform: translate(-50%, -100%);
    left: 50%;
    padding-bottom: 20%;
    background-color: var(--main-bg-color);
    border: dashed var(--main-txt-color);
    border-radius: .25em;
    border-width: thin;
    padding-left: 15%;
    padding-right: 15%;
}
.milestone-text{
    position: absolute;
    width: 8em;
    height: auto;
    top: 300%;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: var(--main-bg-color);
    border: dashed var(--main-txt-color);
    border-radius: .25em;
    border-width: thin;
}
.milestone-path{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    z-index: 99;
    animation: dash 1s linear;
    
    animation-fill-mode: forwards;
    animation-direction: reverse;
    
    stroke: var(--main-txt-color);
    fill: var(--main-bg-color);
    overflow: overlay;
    stroke-linecap: round;
    stroke-width: 1%;
    stroke-dasharray: 60%;
    
}
.milestone-interior{
    padding-left: 0;
    padding-right: 0;
}
@keyframes dash{
    to {
        stroke-dashoffset: 50%;
      }
}
/*end interactive journey*/
footer{
    position: relative;
    height: 20vh;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: var(--main-bg-color);
}
#bottom-divider{
    color: var(--darker-bg-color);
    width: 95%;
}
#footer-title{
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 0;
    color: var(--lighter-txt-color);
    text-align: center;
    align-self: center;
}
#contact-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social-icon{
    height: 5vh;
    /*transform: translateX(25%);*/
}
.social-link{
    display: block;
}
.social-icon:hover{
    filter: invert(20%);
    -webkit-filter: invert(20%);
}

#gallery-slideshow{
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--middle-gray);
    
}
#gallery-slideshow-image{
    position: absolute;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin-top:2vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    align-self: center;
}
#image-caption{
    position: relative;
    bottom: 0;
    width: auto;
    font-size: 1em;
    text-align: center;
    background: var(--middle-gray);
    color: var(--white-txt-color);
}
#prev{
    position: absolute;
    bottom: 50%;
    left: 1vw;
    color: var(--main-bg-color);
    cursor: pointer;
}
#next{
    position: absolute;
    bottom: 50%;
    right: 1vw;
    color: var(--main-bg-color);
    cursor: pointer;
}
.slideshow-button{
    width: 5vw;
    height: auto;
    transform: translateY(50%);
    filter: invert(.99);
    -webkit-filter: invert(.99);
}
.slideshow-button:hover{
    animation: grow2 1s;
    -webkit-animation: grow2 1s;
}
@keyframes grow2{
    from,to {width: 5vw}
    50% {width:7.5vw;}
}
#profile-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    
}
.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width:30%;
    margin: 1vw 1vw 1vw 1vw;
    border: solid var(--darker-bg-color);
    border-radius: 20px;
    background-color: var(--main-bg-color);
    color: var(--darker-bg-color);
}
.profile-name{
    color: var(--main-txt-color);
}
.profile-pic{
    padding-top:5%;
    height: auto;
    width: 90%;
    border-radius: 50%;
}
.profile-major{
    margin-top:0;
    padding-left:5%;
    align-self: flex-start;
    color: var(--lighter-txt-color);
}
.profile-interior{
    color: var(--darker-bg-color);
}
.profile-description{
    margin-top:0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
    text-align: left;
}
.profile-website{
    position: absolute;
    bottom: 0;
    margin-top: 0;
    padding-bottom:5%;
    word-break: break-all;
    text-decoration: none;
    text-align: center;
    color: var(--main-txt-color);
}
.profile-website:hover{
    color: var(--lighter-bg-color);
}
#copyright{
    padding-bottom:2vh;
}
@media only screen and (max-device-width: 1024px){
    #selectors{
        flex-direction: row;
        width: 80%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #header-label{
        font-size: 8vw;
    }
    
    .selector{
        font-size: 5vw;
    }
    .profile{
        width:45%;
    }
    #image-caption{
        font-size: 1.5em;
    }
    .function-node{
        height: 3em;
        width: 3em;
    }
    #functions-interactive{
        height: 60vh;
    }
    
}
@media only screen and (max-device-width: 768px){
    #functions-interactive{
        height: 80vh;
    }
    #vine-health{
        top: 30%;
    }
    #vine-health-caption{
        top: 20%;
    }
}
@media only screen and (max-device-width: 468px){
    #header-div{
        top: 50%;
        left: 50%;
        font-size: 3vw;
        transform: translate(-50%, -50%);
    }
    /*
    #selectors{
        top: 60%;
        right: 50%;
        width: 80%;
        transform: translate(50%, -50%);
    }*/
    #gallery-slideshow{
        height: 35vh;
    }
    .profile{
        width:100%;
    }
    #image-caption{
        font-size: 1em;
    }
    #copyright{
        font-size:.5em;
    }
    .function-node{
        height: 2em;
        width: 2em;
    }
    #functions-interactive{
        height: 30vh;
    }
    #vine-health-caption{
        transform: translate(0,0);
        left: 0;
        top: 100%;
        width: 100%;
    }
    #water-content-caption{
        transform: translate(0,0);
        left: 0;
        top: 100%;
        width: 100%;
    }
    #temperature-caption{
        transform: translate(0,0);
        left: 0;
        top: 100%;
        width: 100%;
    }
    #geopin-caption{
        transform: translate(0,0);
        left: 0;
        top: 100%;
        width: 100%;
    }
    
    
}
